<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>USER</title>
</head>
<body>
<h1 th:align="center">User data show</h1>

<label>ID: </label>
<p th:text="${user.getId()}">VALUE</p>
<p></p>
<label> Name:  </label>
<p th:text="${user.getUsername()}">VALUE</p>
<p></p>
<label>Last Name: </label>
<p th:text="${user.getLastName()}">VALUE</p>


<a th:href="@{/{id}/edit(id=${user.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/admin/{id}/(id=${user.getId()})}">
   <input type="submit" value="DELETE"/>

    <hr/>
    <br/>
    <form th:align="center" th:method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>

</form>
</body>
</html>